
@font-face {
  font-family: 'RexliaRg-Regular';
  src: url('RexliaRg-Regular.eot?#iefix') format('embedded-opentype'),  url('RexliaRg-Regular.woff') format('woff'), url('RexliaRg-Regular.ttf')  format('truetype'), url('RexliaRg-Regular.svg#RexliaRg-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
